---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ site.domain }}/{{ page.background }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="page-heading">
            <h1>Archives</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <ul class="contentslist">
          {% for archive in site.archives %}
            <li>
              <a href="{{ archive.slug | prepend: site.baseurl | replace: '//', '/' }}">{{ archive.name }}</a>
            </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
