---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ site.domain }}/{{ page.background }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Inventories</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="contentslist">
          {% for inventory in site.inventories %}
            <li>
              <a href="{{ inventory.slug | prepend: site.baseurl | replace: '//', '/' }}">{{ inventory.iof_id }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
