---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead small" style="background-image: url('{{ site.domain }}/{{ page.background }}')">
  {% else %}
  <header class="masthead small">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mx-auto">
          <div class="page-heading">
            <h2>Ships</h2>
            <h1>{{ page.name }}</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">  
        {{ page.description }}
      </div>
      <div class="col-lg-12 mx-auto">
        <ul class="iteminfo list-unstyled">
          <li><strong>Official Number:</strong> {{ page.officialnumber }}</li>
          <li><strong>Port of Registry:</strong> {{ page.portofregistry }}</li>
          <li><strong>Tonnage:</strong> {{ page.tonnage }}</li>
          <li><strong>Type:</strong> {{ page.type }}</li>
          <li><strong>Commissioned:</strong> {{ page.commissioned }}</li>
          <li><strong>Decommissioned:</strong> {{ page.decommissioned }}</li>
          <li><strong>IoF ID:</strong> {{ page.iof_id }}</li>
        </ul>
        <hr>
        <ul class="taglist list-inline">
          {% for tag in page.tags %}
          <li>
            <a href="{{ site.domain }}/tags/{{ tag | slugify }}">{{ tag }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-lg-12 mx-auto">
        <h6>Crew</h6>
        <ul class="list-unstyled">
            {% for crew in page.crew %}
              {% if crew.iof_id.size>0 %}
              {% assign crew_members = site.people | where:"iof_id", crew.iof_id %}
                {% for person in crew_members %}
                  <li>
                    <a href="{{ site.domain }}/people/{{ person.slug }}">{{ person.firstname }}{% if person.middlenames.size>0 %} {{ person.middlenames }}{% endif %} {{ person.lastname }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
        </ul>
        <h6>Captains</h6>
        <ul class="list-unstyled">
            {% for captain in page.captains %}
              {% if captain.iof_id.size>0 %}
              {% assign captains = site.people | where:"iof_id", captain.iof_id %}
                {% for person in captains %}
                  <li>
                    <a href="{{ site.domain }}/people/{{ person.slug }}">{{ person.firstname }}{% if person.middlenames.size>0 %} {{ person.middlenames }}{% endif %} {{ person.lastname }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
        </ul>
        <h6>Owners</h6>
        <ul class="list-unstyled">
            {% for owner in page.owners %}
              {% if owner.iof_id.size>0 %}
              {% assign owners = site.people | where:"iof_id", owner.iof_id %}
                {% for person in owners %}
                  <li>
                    <a href="{{ site.domain }}/people/{{ person.slug }}">{{ person.firstname }}{% if person.middlenames.size>0 %} {{ person.middlenames }}{% endif %} {{ person.lastname }}</a>
                  </li>
                {% endfor %}
              {% endif %}
            {% endfor %}
        </ul>
      </div>
      <div class="col-lg-12 mx-auto">
        <h4>Voyages</h4>
        <table class="voyages table">
          <tr><th>Port</th><th>Departure</th><th>Arrival</th></tr>
          {% for voyage in page.voyages %}
            <tr><td>{{ voyage.port }}</td>
              <td>{{ voyage.departure }}</td>
              <td>{{ voyage.arrival }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    {%- include metadata.html -%}
  </div>
